extends layout

block content 

    div#wrapper
        header#header
            div.inner
                nav
                    ul
                        li
                            a(href="#menu") Menu

        nav#menu
            h2 Menu
            ul
                li 
                    a(href="/stop") stop
        div#main
            div.inner
                header
                    h1 radio gaga
                section.tiles
                    each station in stations
                        article(class="style#{station.id}")
                            span.image
                                img(src="images/pic0#{station.id}.jpg")
                            a(href="/play_gg_relay/#{station.gg_id}")
                                h2 #{station.name}
                                div.content
                                    p Here will be station description


block scripts
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/skel.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")
